<div class="row">
    <div class="col-8 mt-5">
        <form [formGroup]="productoForm">
            <div class="form-group">
                <label for="NombreComercialProducto">Nombre Comercial</label>
                <input type="text" id="NombreComercialProducto" class="form-control" formControlName="NombreComercialProducto" placeholder="ej: Aspirina" />
            </div>
            <h4>Fármaco</h4>
            <h5>Presentación</h5>
            <div class="form-group">
                <input type="number" id="CantidadPresentacion" class="form-control" min="0" formControlName="CantidadPresentacion" placeholder="cantidad" />
            </div>
            <div formGroupName="Farmaco">
                <div class="form-group">
                    <select class="form-control" formControlName="PresentacionIdPresentacion">
                        <option value="">Elegir presentación</option>
                        <option *ngFor="let pre of Presentaciones"
                                value={{pre.idPresentacion}}>  
                            {{pre.nombrePresentacion}}  
                        </option>
                    </select>
                </div>
                <h5>Concentración</h5>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" (click)="addConcentracion()">
                            Agregar principio activo
                        </button>
                    </div>
                </div>
                <div formArrayName="Concentracion">
                    <div *ngFor="let item of concentracion.controls; let i = index">
                        <div [formGroupName]="i">
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <div class="form-group m-0">
                                        <select class="form-control" formControlName="PrincipioActivoIdPrincipioActivo">
                                            <option value="">Elegir principio activo</option>
                                            <option *ngFor="let pa of PrincipiosActivos" 
                                                    value={{pa.idPrincipioActivo}}>  
                                                {{pa.nombrePrincipioActivo}}  
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-0">
                                        <input type="number" id="Cantidad" class="form-control" min="0" formControlName="Cantidad" placeholder="cantidad" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-0">
                                        <select class="form-control" formControlName="UnidadMedidaIdUnidadMedida">
                                            <option *ngFor="let um of UnidadesMedida" 
                                                    value={{um.idUnidadMedida}}>  
                                                {{um.simboloUnidadMedida}}  
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group mt-3">
                <h5>Laboratorio</h5>
                <select id="LaboratorioIdLaboratorio" class="form-control" formControlName="LaboratorioIdLaboratorio">
                    <option value="">Elegir laboratorio</option>
                    <option *ngFor="let lab of Laboratorios" 
                            value={{lab.idLaboratorio}}>  
                        {{lab.nombreLaboratorio}}  
                    </option>
                </select>
            </div>
            <div class="form-group">
                <h5>Bioequivalente</h5>
                <input type="text" id="ProductoBioequivalente" class="form-control" formControlName="ProductoBioequivalente" placeholder="código de producto" />
            </div>
        </form>
    </div>
</div>